/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}



/*Volver al inicio*/

.cuadrado {
    font-size: 50px;
    position: relative;
    left: 0px;
    right: 0px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 70px;
    width: 1650px;
    height: 200px;
    background-color: rgb(153, 131, 175);
    padding: 10px;
    
    animation-name: cuadrado;
    animation-duration: 5s;
    animation-delay: 1s;

    
}
@keyframes cuadrado {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

/*Media*/
@media (max-width: 768px)  {
    * {
        font-size: 20px;
}
}