/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: rgb(140, 121, 165);
    color: rgb(59, 16, 99);
    font-family: 'Pixelify Sans', cursive;
}
/*header*/
header {
    background-color: rgb(94, 55, 119);
    color: aliceblue;
    text-align: center;
    padding: 50px 0px 100px 0px;
    margin-bottom: 50px    
}
/*Nav*/
.navegador {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: large;

}
.navegador a{
    color: rgb(220, 191, 223);
    padding: 20px;
}

a {
    text-decoration: none;
    color: aliceblue;
}
a:visited {
    text-decoration: none;
    color: aliceblue;
}

/*Otros*/
.cajitas {
    display: flex; justify-content: center;
    align-items: center;
}
.algo {
    background-color: rgb(228, 213, 233); box-sizing: content-box; width: 200px; padding: 0; border:10px solid rgb(226, 175, 233); margin-right: 20px;
}
.algo:hover {
    transform: translate(0px, -10px);
    box-shadow: 5px 10px 0px 0px rgba(0, 0, 0, 0.3);
}
.Aprender {
    color: rgb(185, 179, 190);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.boton {
    background-color: rgb(245, 138, 218); color: rgb(190, 178, 178); padding: 10px 20px; border: none; text-align: center; text-decoration: none; display: inline-block; font-size: 15px; margin: 20px; cursor: pointer; border-radius: 100px;
}
.boton:hover {
    background-color: rgb(228, 73, 189); 
    color: rgb(194, 146, 146);
}
.titulos {
    text-align: center;
}
/*Mapa*/
.mapa {
    background-color: rgb(216, 216, 187);
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#Dondeestudiar {
    margin-bottom: 15px;
}

/*Videos*/
.videos {
    margin:  15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*Tamaño del iframe*/
iframe {  
    width: 560px;
    height: 300px;
}
.fundamentos {
    margin-bottom: 50px ;
}
form fieldset {
    border: none
}
form fieldset{
    margin-top: 10px;
    margin-bottom: 10px;
}
#formulario {
    text-align: center;
}

/*Pie de pagina*/
footer {
    background-color: rgb(205, 188, 221);
    color: blueviolet;
    margin: 100px 0px 0px 0px;
    
    text-align: center;
}

/*Media*/
@media (max-width: 768px)  {
    * {
        font-size: 12px;
    }
    .cajitas {
        flex-direction: column; 
        gap: 10px;
        align-items: center;
        
    }
    iframe { 
        width: 360px;
        height: 200px; 
    }
    
}

@media (max-width: 480px)  {
    * {
        font-size: 12px;
    }
    .cajitas {
        flex-direction: column; 
        gap: 10px;
        align-items: center;
        
    }
    iframe { 
        width: 360px;
        height: 200px; 
    }
    
}
